.footer-container {
  background-color: $footer-bg;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color-text-footer;
  padding: 5px 10px;
  margin: auto;
  height: 100px;

  &-copy {
    text-align: center;
  }
}

.icon {
  margin-right: 10px;
}
