.footer {
  background-color: $footer-bg;
  color: $color-text-footer;
  padding: 5px 10px;
  margin: auto;
  height: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  &__copy {
    text-align: center;
  }

  &__icon {
    margin-right: 10px;
  }
}
