.header {
  background-image: url(../images/header.webp);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 20px;
  

  &__title {
    text-align: center;
    font-size: 50px;
    color: $seance;
    margin-bottom: 5px;
  }

  &__subtitle {
    text-align: center;
  }
}
