.main-content {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;

  &__title {
    font-size: 2rem;
  }

  &__text {
    padding-bottom: 7px;
    border-bottom: 5px $red solid;
    font-size: 1.3rem;
  }

  &__list {
    line-height: 30px;
  }
}
