.navigation {
  background: $elm;
  color: $white;
  padding: 20px;

  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    margin: 5px;
    padding: 3px;

    &--active {
      background: $havelock-blue;
      border-radius: 50px;
      padding: 5px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: $white;
    }
  }

  &__icon-twitter {
    color: blue;
    font-size: 100px;
  }
}
