.navigation {
  background: $elm;
  color: $white;
  padding: 20px;

  &__list {
    display: flex;
  }

  &__item {
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    margin: 5px;
    padding: 3px;

    &--active {
      background: $havelock-blue;
      border-radius: 50px;
      padding: 5px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
      font-weight: bold;
      color: $white;
    }
  }
}

@media (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
  }
}
