$red: #dd0000;
$silver: #cccccc;
$black: #000;
$seance: #6918b4;
$white: #ffffff;
$elm: #1d8062;
$havelock-blue: #5a72db;
$deep-fir: #003300;
$tropical-rain-forest: #006750;

$color-text-body: $black;
$body-bg: $white;
$footer-bg: $elm;
$color-text-footer: $white;
$colors-menu: $tropical-rain-forest;
