$font-size-base: 18px;
$font-family-base: "Comfortaa";

$screen-extra-small: 480px !default;
$screen-small: 620px !default;
$screen-medium: 768px !default;
$screen-large: 1024px !default;
$screen-extra-large: 1280px !default;

$screen: 'only screen';
$small: 'only screen and (min-width: #{$screen-extra-small})';
$small: 'only screen and (min-width: #{$screen-small})';
$medium: 'only screen and (min-width: #{$screen-medium})';
$large-max: 'only screen and (max-width: #{$screen-large - 1})';
$small-max: 'only screen and (max-width: #{$screen-small - 1})';
$medium-max: 'only screen and (max-width: #{$screen-medium - 1})';
$large: 'only screen and (min-width: #{$screen-large})';
$extra-large: 'only screen and (min-width: #{$screen-extra-large})';
$landscape: 'only screen and (orientation: landscape)';
$portrait: 'only screen and (orientation: portrait)';