@font-face {
  font-family: "icon-family";
  src: url("../font-icons/icon-family.eot?8z0s7n");
  src: url("../font-icons/icon-family.eot?8z0s7n#iefix")
      format("embedded-opentype"),
    url("../font-icons/icon-family.ttf?8z0s7n") format("truetype"),
    url("../font-icons/icon-family.woff?8z0s7n") format("woff"),
    url("../font-icons/icon-family.svg?8z0s7n#icon-family") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-family" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--youtube:before {
  content: "\e900";
}
.icon--pinterest:before {
  content: "\e901";
}
.icon--twitter:before {
  content: "\e902";
}
.icon--instagram:before {
  content: "\e903";
}
.icon--facebook:before {
  content: "\e904";
}
