// Settings 
@import "settings/colors";
@import "settings/variables";

// Core styles
@import "core/fonts";
@import "core/core";
@import "core/font-icons";


// Modules
@import "modules/header";
@import "modules/navigation";
@import "modules/main-content";
@import "modules/footer"


