@charset "UTF-8";
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa-Light.ttf") format("truetype"), url("../fonts/Comfortaa-Light.svg#Comfortaa-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa-Regular.ttf") format("truetype"), url("../fonts/Comfortaa-Regular.svg#Comfortaa-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold.ttf") format("truetype"), url("../fonts/Comfortaa-Bold.svg#Comfortaa-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000;
  font-family: "Comfortaa";
  font-size: 18px;
}

@font-face {
  font-family: "icon-family";
  src: url("../font-icons/icon-family.eot?9lwl4h");
  src: url("../font-icons/icon-family.eot?9lwl4h#iefix") format("embedded-opentype"), url("../font-icons/icon-family.ttf?9lwl4h") format("truetype"), url("../font-icons/icon-family.woff?9lwl4h") format("woff"), url("../font-icons/icon-family.svg?9lwl4h#icon-family") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-family" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--menu:before {
  content: "";
}

.icon--youtube:before {
  content: "";
}

.icon--pinterest:before {
  content: "";
}

.icon--twitter:before {
  content: "";
}

.icon--instagram:before {
  content: "";
}

.icon--facebook:before {
  content: "";
}

.header {
  width: 100%;
  height: 250px;
  background-image: url(../images/header.webp);
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
.header__title {
  text-align: center;
  font-size: 3rem;
  color: #6918b4;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .header__title {
    font-size: 2.5rem;
  }
}
.header__subtitle {
  text-align: center;
}
.header__icon {
  font-size: 80px;
}
.header__menu {
  width: 50px;
  display: none;
  position: relative;
}
.header__btn-menu {
  display: none;
}

.container {
  width: 95%;
  margin: auto;
}

.navigation {
  background: #1d8062;
  color: #ffffff;
  padding: 20px;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
  margin: 5px;
  padding: 3px;
}
.navigation__item--active {
  background: #5a72db;
  border-radius: 50px;
  padding: 5px;
}
.navigation__link {
  color: #ffffff;
  text-decoration: none;
}
.navigation__link:hover {
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
  }
}
.main-content {
  margin-top: 300px;
  margin-left: 100px;
  margin-right: 100px;
}
.main-content__title {
  font-size: 2rem;
}
.main-content__text {
  padding-bottom: 7px;
  border-bottom: 5px #dd0000 solid;
  font-size: 1.3rem;
}
.main-content__list {
  line-height: 30px;
}
.main-content img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.footer {
  background-color: #1d8062;
  color: #ffffff;
  padding: 0 70px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 10px 10px;
}
.footer__copy {
  font-size: 15px;
  margin-bottom: 10px;
}
.footer__social-icons {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) {
  .footer__social-icons {
    width: auto;
  }

  .footer__container {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=main.css.map */
